In [1]:
# imports
import requests
import pandas as pd
import numpy as np

In [2]:
# gets data from API
def fetchData(url):
    r = requests.get(url)
    return r.json()

In [3]:
# calls fetchData function for chosen URL
general_info_json = fetchData('https://fantasy.premierleague.com/api/bootstrap-static/')
fixtures_json = fetchData('https://fantasy.premierleague.com/api/fixtures/')
#players_detailed_json = fetchData('https://fantasy.premierleague.com/api/element-summary/{' + element_id + '}/')
#gameweek_live_json = fetchData('https://fantasy.premierleague.com/api/event/{' + event_id + '}/live/')

In [4]:
# gets a list of keys of the json
general_info_json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [5]:
fixtures_json[0].keys()

dict_keys(['code', 'event', 'finished', 'finished_provisional', 'id', 'kickoff_time', 'minutes', 'provisional_start_time', 'started', 'team_a', 'team_a_score', 'team_h', 'team_h_score', 'stats', 'team_h_difficulty', 'team_a_difficulty', 'pulse_id'])

In [6]:
#creates data frame
txt = 'elements'
elements_df = pd.DataFrame(general_info_json[txt])

In [7]:
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [30]:
fantasy_stats_df = elements_df[['first_name', 'second_name','team','element_type','selected_by_percent','now_cost','transfers_in','transfers_out','value_season', 'total_points']]

In [32]:
fantasy_stats_df.sort_values(by=['total_points','value_season'], ascending = False)

,first_name,second_name,team,element_type,selected_by_percent,now_cost,transfers_in,transfers_out,value_season,total_points
328,Mohamed,Salah,11,3,60.8,127,1470042,729308,5.5,70
563,Michail,Antonio,19,4,45.6,80,3877523,2290663,6.1,49
261,Jamie,Vardy,9,4,13.9,104,745517,927875,4.6,48
354,João Pedro Cavaco,Cancelo,12,2,17.4,62,1076925,316406,7.1,44
569,Saïd,Benrahma,19,3,37.1,66,3249945,1017664,6.7,44
...,...,...,...,...,...,...,...,...,...,...
608,Luke,Cundle,20,3,0.1,45,8714,5948,0.0,0
609,Chem,Campbell,20,3,0.3,45,33487,21500,0.0,0
610,Christian,Marques,20,2,0.3,40,24271,22604,0.0,0
612,Louie,Moulden,20,1,0.1,40,4235,588,0.0,0
10,Sead,Kolasinac,1,2,0.1,43,2524,7808,-0.2,-1

In [29]:
fantasy_stats_df.head(30)

,first_name,second_name,team,element_type,selected_by_percent,now_cost,transfers_in,transfers_out,value_season,total_points
0,Bernd,Leno,1,1,1.2,48,53059,142144,0.8,4
1,Rúnar Alex,Rúnarsson,1,1,0.9,40,19017,51790,0.0,0
2,Willian,Borges Da Silva,1,3,0.1,63,914,19591,0.0,0
3,Pierre-Emerick,Aubameyang,1,4,2.2,99,213636,263608,2.2,22
4,Cédric,Soares,1,2,0.2,43,9595,18199,0.2,1
5,Alexandre,Lacazette,1,4,1.0,83,21366,145246,0.2,2
6,Granit,Xhaka,1,3,0.4,49,16371,70962,0.8,4
7,Pablo,Marí,1,2,0.1,43,4650,10881,0.2,1
8,Héctor,Bellerín,1,2,0.3,48,3737,66181,0.0,0
9,Calum,Chambers,1,2,0.2,43,7558,23933,0.2,1
10,Sead,Kolasinac,1,2,0.1,43,2524,7808,-0.2,-1
11,Mohamed Naser,El Sayed Elneny,1,3,0.4,45,16279,44494,0.2,1
12,Ainsley,Maitland-Niles,1,3,0.1,53,1618,5112,1.3,7
13,Rob,Holding,1,2,0.7,43,19148,123076,0.0,0
14,Thomas,Partey,1,3,0.2,50,15900,9651,1.4,7
15,Kieran,Tierney,1,2,6.9,49,347674,404356,4.7,23
16,Nicolas,Pépé,1,3,1.1,71,74888,257927,2.0,14
17,Lucas,Torreira,1,3,0.2,45,6292,29745,0.0,0
18,Edward,Nketiah,1,4,0.1,54,6024,8818,0.0,0
19,Emile,Smith Rowe,1,3,5.5,53,378649,471886,4.7,25
20,Bukayo,Saka,1,3,11.2,63,607831,829186,4.6,29
21,Gabriel,Magalhães,1,2,0.6,50,51140,16782,4.6,23
22,Konstantinos,Mavropanos,1,2,0.0,45,0,42,0.0,0
23,Mattéo,Guendouzi,1,3,0.0,45,0,110,0.0,0
24,Gabriel Teodoro,Martinelli Silva,1,3,0.2,52,8632,27224,0.8,4
25,William,Saliba,1,2,0.0,45,0,163,0.0,0
26,Ben,White,1,2,12.3,44,371130,1150655,5.0,22
27,Nuno,Varela Tavares,1,2,0.2,43,7551,19348,0.7,3
28,Albert,Sambi Lokonga,1,3,0.2,49,11549,17892,2.0,10
29,Folarin,Balogun,1,4,0.4,49,42750,50080,0.4,2

In [21]:
#fantasy_stats_df.replace({'element_type' : { 1 : 'GK', 2 : 'DEF', 3 : 'MID' , 4 : 'FOR'}})

In [33]:
player_cost_df = elements_df[['id','second_name','cost_change_event','cost_change_event_fall','cost_change_start','now_cost']]

In [34]:
player_cost_df.head(10)

,id,second_name,cost_change_event,cost_change_event_fall,cost_change_start,now_cost
0,1,Leno,0,0,-2,48
1,2,Rúnarsson,0,0,0,40
2,3,Borges Da Silva,0,0,-2,63
3,4,Aubameyang,0,0,-1,99
4,5,Soares,0,0,-2,43
5,6,Lacazette,0,0,-2,83
6,7,Xhaka,0,0,-1,49
7,8,Marí,0,0,-2,43
8,9,Bellerín,0,0,-2,48
9,10,Chambers,0,0,-2,43

In [ ]:
chance_of_playing_df = elements_df[['id','second_name','chance_of_playing_next_round','chance_of_playing_this_round']]